---
---

$pattern: "{{ site.base_url }}/images/pattern.png";
$screenshot-buttons: "{{ site.base_url }}/images/screenshot-buttons.svg";

$brand-color: #00B0F0;
$html-background-color: #222;
$secondary-brand-color: #00598a;//TODO: Change color
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$section-rotation: 5deg;

@import "../_sass/utilities";
@import "../_sass/customGrid";
@import "../_sass/elements";
@import "../_sass/layout";
@import "../_sass/contact";
@import "../_sass/blog";
@import "../_sass/forms";
@import "../_sass/navigation";
@import "../_sass/footer";
@import "../_sass/about";
