$brand-color: #00B0F0;
$html-background-color: #222222;
$secondary-brand-color: #00598a; //TODO: Change color
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$min-mobile: "450px";
$min-tablet: "620px";
$min-desktop: "768px";

$section-rotation: 5deg;