@import "_variables";

.row {
  display: flex;
  flex-wrap: wrap;

  [class^=col-] {
    padding: 0 15px;
  }

  .col-50 {
    width: 50%;
    @media (max-width: $min-desktop) {
      width: 100%;
    }
  }
  .col-100 {
    width: 100%;
  }
}