<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{ site.base_url }}/css/screen.css">
  {% if page.name == 'about.html' %}
    <link rel="stylesheet" href="{{ site.base_url }}/css/about.css">
  {% endif %}

  <link rel="apple-touch-icon" href="{{ site.base_url }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.base_url }}/touch-icon.png"
        sizes="192x192">
  <link rel="icon" type="image/png"
        href="{{ site.base_url }}/images/favicon.png">

  {% include analytics.html %}
</head>
<body>
<header>
  <div class="container">
    <div
      class="company-name">
      <a
        href="{{ site.base_url }}/"
      >
        <img
          src="{{ site.base_url }}/images/logo.png"
          alt="Site logo"
          width="270"
          height="58"
        >
      </a>
    </div>
    {% include navigation.html %}
  </div>
</header>
{{ content }}

<footer class="diagonal">
  <div class="container">
    <div class="footer-columns">
      {% for column in site.data.footer %}
        <ul class="footer-links">
          <li>
            <h2>
              {{ column.title }}
            </h2>
          </li>
          {% for link in column.links %}
            <li>
              <a
                {% if link.new_window %}target="_blank"{% endif %}
                {% if link.new_window %}rel="noreferrer noopener"{% endif %}
                href="{% include relative-src.html src=link.link %}"
                {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}
              >
                {% if link.social_icon %}
                  {% include social-icon.html icon=link.social_icon %}
                {% endif %}

                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      <ul class="footer-links">
        <li>
          <h2>
            {{ site.data.personal_information.title }}
          </h2>
        </li>
        <li>{{ site.data.personal_information.description }}</li>
        <li>
          <a
            href="mailto:{{ site.data.personal_information.contact_email_address }}"
          >
            {{ site.data.personal_information.contact_email_address }}
          </a>
        </li>
        <li>
          <a
            href="tel:{{ site.data.personal_information.contact_phone_number }}"
          >
            {{ site.data.personal_information.contact_phone_number }}
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>


<script src="/js/libs/blazy.min.js"></script>
<script src="/js/layout/menu.js"></script>
<script src="/js/pages/default.js"></script>


{% if site.google_tracking == true %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="/js/pages/contactForm.js"></script>
{% endif %}
</body>
</html>
