<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="stylesheet" href="{{ site.base_url }}/css/screen.css">
  {% if page.name == 'about.html' %}
    <link rel="stylesheet" href="{{ site.base_url }}/css/about.css">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/site.webmanifest">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#00b0f0">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#00b0f0">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#00b0f0">

  {% include analytics.html %}
</head>
<body>
<header>
  <div class="container">
    <div
      class="company-name">
      <a
        href="{{ site.base_url }}/"
      >
        <img
          src="{{ site.base_url }}/images/logo.png"
          alt="Site logo"
          width="270"
          height="58"
        >
      </a>
    </div>
    <!-- {% include navigation.html %} -->
  </div>
</header>
{{ content }}

<footer class="diagonal">
  <div class="container">
    <div class="footer-columns">
      <div class="footer-links footer-links-spacing"></div>
      {% for column in site.data.footer %}
        <ul class="footer-links">
          <li>
            <h2>
              {{ column.title }}
            </h2>
          </li>
          {% for link in column.links %}
            <li>
              <a
                {% if link.new_window %}target="_blank"{% endif %}
                {% if link.new_window %}rel="noreferrer noopener"{% endif %}
                href="{% include relative-src.html src=link.link %}"
                {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}
              >
                {% if link.social_icon %}
                  {% include social-icon.html icon=link.social_icon %}
                {% endif %}

                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      <ul class="footer-links">
        <li>
          <h2>
            {{ site.data.personal_information.title }}
          </h2>
        </li>
        <li>
          <a
            href="mailto:{{ site.data.personal_information.contact_email_address }}"
            target="_blank"
          >
            {% include contact-icon.html icon="Email" %}
            {{ site.data.personal_information.contact_email_address }}
          </a>
        </li>
        <li>
          <a
            href="tel:{{ site.data.personal_information.contact_phone_number }}"
          >
            {% include contact-icon.html icon="Phone" %}
            {{ site.data.personal_information.contact_phone_number }}
          </a>
        </li>
        <li>
          <span>
            {% include contact-icon.html icon="Location" %}
            {{ site.data.personal_information.address }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</footer>


<script src="/js/libs/blazy.min.js"></script>
<script src="/js/layout/menu.js"></script>
<script src="/js/pages/default.js"></script>


{% if site.google_tracking == true %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="/js/pages/contactForm.js"></script>
{% endif %}
</body>
</html>
